.nav-tabs .nav-link {
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: none;
  border: none;
  color: #b5b5b5;
  border: 2px solid #b5b5b5;
}

.nav-tabs .nav-link:hover:not(.active) {
  border: 2px solid #eb507f;
  color: #eb507f;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.nav-tabs .nav-link.active {
  background: #eb507f;
  color: white;
  border: 2px solid #eb507f;
}
