@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    max-width: 100%; 
}

.bodyMovieInfo {
    position: relative;
    width:100vw;
    
    


    /* background-repeat:no-repeat ;
    object-fit: cover;
    background-size: 100% auto;
    height: 300px;
    background-position: 100% 20%;
    filter: brightness(50%); */
}

.bodyMovieInfo img {
    width: 100%;
    height: auto;
    max-height:300px;
    filter: brightness(50%);
    object-fit: cover;
    object-position:top;
}

.movieName p{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 40px;
    left: 10px;
}