@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    max-width: 100%; 
}

.bodyMovieInfo {
    position: relative;
    width:100vw;
    
    


    /* background-repeat:no-repeat ;
    object-fit: cover;
    background-size: 100% auto;
    height: 300px;
    background-position: 100% 20%;
    filter: brightness(50%); */
}

.bodyMovieInfo img {
    width: 100%;
    height: auto;
    max-height:300px;
    filter: brightness(50%);
    object-fit: cover;
    object-position:top;
}

.movieName p{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 40px;
    left: 10px;
}

.ratingMovie {
    display:flex;
    float: left;
    margin-top:-190px;
    margin-left: 15px;
    gap: 5px;
}

.spanRating {
    margin-top: 10px;
    color: white;
    text-align: center;
    justify-content: center;
}

.synopsis {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    margin-top: -150px;
    margin-left: 15px;
    z-index: 1;
    max-width: 50%;
}

.buttonTrailerWatchlist {
    display: flex;
    gap:10px;
    margin-left: 15px;
}

.buttonTrailerWatchlist .buttonTrailer {
    background-color:#FE024E;
}

.buttonTrailerWatchlist .buttonTrailer:active {
    background-color: salmon;
}

.buttonTrailerWatchlist .buttonTrailer:after {
    background-color: salmon;
}