h1,
p {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 200px;
}

.filterContainer {
  margin: 50px auto 50px 150px;
}

h3 {
  display: flex;
  padding: 15px;
  color: #8c8989;
}

.filters {
  display: flex;
}

.filters-item {
  padding: 10px 15px;
  margin-inline: 10px;
  border-radius: 20px;
  background: none;
  border: none;
  color: #c4c4c4;
  border: 2px solid white;
}

.filters-item:hover:not(.active) {
  border: 2px solid #eb507f;
  color: #eb507f;
}

.active {
  background: #eb507f;
  color: white;
  border: 2px solid #eb507f;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  width: 1200px;
  height: 100%;
}

.movieBox {
  cursor: pointer;
  max-width: 200px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.movieInfo {
  display: flex;
  flex-direction: column;
}

.titleInfo {
  display: flex;
  align-items: flex-start;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: blue;
}

.genreInfo {
  font-size: 12px;
}
